.app_orange_theme {
  --bg-color: #c95406;
  --inverted-bg-color: #7b7b7c;
  --primary-color: #77d877;
  --secondary-color: #698069;
  --inverted-primary-color: #d7e650c4;
  --inverted-secondary-color: #b9ce42e5;
}
